<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<script>
  $.post("http://localhost:8000/api/login/",
  {
    username: "yeraisci",
    password: "yeafood123"
  },
  function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
  });
</script>
