<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  

<h1>Predict Food</h1>


List Makanan yang telah di-train :
<br>
<li>Bakso</li>
<li>Bubur Ayam</li>
<li>Mie Ayam</li> 
<li>Nasi Ayam Geprek</li>  
<li>Nasi Goreng</li>   
<li>Nasi Telur</li>  
<li>Pizza</li>  
<li>Siomay</li>  
<br>


<form action="POST" target="/api/predict_food" id="formupload">
  <input type="file" name="file" id="file">
  <input type="submit" name="submit" id="submitimage" value="Predict">
</form>

<script>

$("input").change(function(e) {

for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

    var file = e.originalEvent.srcElement.files[i];

    var img = document.createElement("img");
    img.width = 200;
    img.height = 200;
    var reader = new FileReader();
    reader.onloadend = function() {
         img.src = reader.result;
    }
    reader.readAsDataURL(file);
    $("form").after(img);
  }
});


$( "#formupload" ).submit(function( event ) {
  event.preventDefault();

  var fd = new FormData();
  var files = $('#file')[0].files;
  if(files.length > 0 ){
    fd.append('file',files[0]);
  }

  $.ajax('/api/user/predict_food/', {
    type: 'POST',  // http method
    beforeSend: function(request) {
      request.setRequestHeader("Authorization", "Token 6399bbddda90386da23ad472560ac4c505c88c64");
    },
    data: fd,  // data to submit
    processData: false,
    contentType: false,
    success: function (data, status, xhr) {
      $('h2').append("Food Prediction Result : " + data["Food Prediction Result"] + "<br>");
    },
    error: function (jqXhr, textStatus, errorMessage) {
      $('h2').append('Error' + errorMessage);
    }
  });

  $('p').append("Processing ......<br>");

});

</script>
<p></p>
<h2></h2>